{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<div class="min-h-screen py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">
        <div class="glass-effect rounded-lg shadow-lg p-6 mb-8">
            <button class="btn-menu" >Adventure</button>
            <button class="btn-menu" >Rush</button>
            <button class="btn-menu" >Multiplayer</button>
            <button class="btn-menu" >Settings</button>
            <button class="btn-menu" >Achievments</button>
        </div>
    </div>
</div>

<script>
</script>
{% endblock %} 
